/backend/vendor/
/backend/node_modules/
/backend/public/storage
/backend/public/hot
/backend/storage/*.key
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/auth.json
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.phpunit.result.cache
/backend/homestead.json
/backend/homestead.yaml
/backend/auth.json
/backend/.vscode/

.vscode/
.DS_Store
Thumbs.db
